<div>

    <h1>Signup</h1>

</div>


<p>Fill out the information below to signup for Syllabusters!</p>

<div class="container">
    <div class="row">
        <input ng-model="user.name" placeholder="Name">
        <input ng-model="user.username" placeholder="Username">
        <input ng-model="user.email" placeholder="Email Address">
    </div>
    <div class="row">
        <input type="password" id="password" ng-model="user.password">
        <div class="form-group">
            <label for="passwordRepeat">Repeat Password</label>
            <input type="password" id="passwordRepeat" class="form-control" ng-model="passwordRepeat">
            <span class="text-danger" ng-show="passwordMessage">{{passwordMessage}}</span>
        </div>
    </div>
    <button ng-click='signup(user)' class='btn'>Submit</button>
</div>