body {
    background-color: #50B7C8;
    margin: 30px 0px;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
    z-index: -1
}

h1 {
    text-align: center;
    font-size: 50pt;
    color: #003E6F;
    font-family: "Nanum Myeongjo"
}

.homeImage {
    width: 100%;
}

div {
    color: white
}

.btn {
    width: 100%;
    margin-top: 50pt;
    background-color: #003E6F;
    color: white;
    font-family: "Nanum Myeongjo";
}

.syllabusInput {
    margin-top: 50pt
}

.loginInput {
    margin-top: 30pt
}

input {
    width: 100%
}

.syllabusSelect {
    text-align: right
}

.grabbable {
    cursor: pointer;
}

.signup {
    text-align: center;
    padding: 25pt;
    font-size: 15pt
}

.navbar-default {
    background-color: pink;
}