body {
    background-color: #1AB0CC;
    font-family: "Quicksand";
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

li.dropdown:hover (min-width: 767px) > .dropdown-menu {
    display: block;
    z-index: -1
}

h1 {
    text-align: center;
    font-size: 40pt;
    color: #003E6F;
    font-family: "Quicksand";
}

h2 {
    font-family: "Quicksand";
}

h3 {
    margin-bottom: 50pt;
    font-family: "Quicksand";
}

h4 {
    font-family: "Quicksand";
}

h5 {
    text-align: center;
    font-size: 60pt;
    color: #FF6360;
    font-family: "Quicksand";
}

.homeImage {
    width: 100%;
}

div {
    color: white
}

.btn {
    width: 100%;
    margin-top: 50pt;
    background-color: #003E6F;
    color: white;
    font-family: "Quicksand";
}

.loginInput {
    margin-top: 30pt
}

input {
    width: 100%
}

.syllabusSelect {
    text-align: right
}

.grabbable {
    cursor: pointer;
}

.signup {
    text-align: center;
    padding: 25pt;
    font-size: 15pt
}

.capitalize {
    text-transform: capitalize;
}

.table-container {
    margin: 25px;
}

.white-background {
    background-color: white;
    min-height: 70px;
}

.today {
    margin-top: 45pt
}

th {
    font-family: "Quicksand";
}

.combine {
    margin-top: 40pt
}

.navbar-fixed-top {
    background-color: #003E6F;
    position: absolute;
    min-width: 165px;
    top: inherit;
}

.newSyllabus {
    margin-top: 50pt
}

.viewSyllabus {
    margin-top: 35pt
}

.weekView {
    margin-top: 35pt
}

.login {
    margin-top: 45pt
}

.signUp {
    margin-top: 45pt
}

.logo-image {
    min-width: 200px;
    height: auto;
    max-width: 25%;
}

.addAssignment {
    margin-top: 40pt
}


.edits {
    text-align: center;
}

.edits1 {
    text-align: center;
    margin-bottom: 25pt;
}

ul {
    list-style-type: none;
    padding: 0
}

.add1 {
    margin-bottom: 30pt
}

select {
    width: 100%
}