<div class="login">
    <div>

        <h1>Please Login</h1>

    </div>

    <form>
        <div class="form-group">
            <div class="container">
                <div class="loginInput">
                    <div class="row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            Username:
                            <input class="form-control" ng-model="user.username">
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            Password:
                            <input class="form-control" ng-model="user.password" type="password">
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-5"></div>
                        <div class="col-xs-2">
                            <button ng-click='login(user)' class='btn btn-custom'>Submit</button>
                        </div>
                        <div class="col-xs-5"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-5"></div>
                        <div class="col-xs-2">
                            <a> forgot password? </a>
                        </div>
                        <div class="col-xs-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>