<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6" style="">
            <div class="row">
            <div class="col-xs-3 grabbable" ng-repeat="assignment in assignments"
            style="border: 1px solid black; margin: 10px; height: 130px;" ng-click="selected(assignment)">
            <h4>{{assignment.objectName}}</h4>

            <p>{{assignment.objectType}}</p>
            <p>{{assignment.week}}</p>

            </div>
            </div>
        </div>
            <div class="col-xs-6" style="">
                <div class="row">
                    <div class="col-xs-3 grabbable" ng-repeat="syllAssignment in syllAssignments"
                         style="border: 1px solid black; margin: 10px; height: 130px;" ng-click="selectedSyllAss(syllAssignment)">
                        <h4>{{syllAssignment.objectName}}</h4>

                        <p>{{syllAssignment.objectType}}</p>
                        <p>{{syllAssignment.week}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
