<div class="combine">
   <div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="">
           <h3>All Assignments</h3>
            <div class="row">
            <div class="col-xs-3 grabbable" ng-repeat="assignment in assignments track by assignment._id"
            style="border: 5px solid black; margin: 10px; height: 130px; background-color: #FF6360; box-shadow: 5px 5px 3px #333333;" ng-click="selected(assignment)">
            <h4>{{assignment.objectName}}</h4>

                    <p>{{assignment.objectType}}</p>
                    <p>{{assignment.week}}</p>

                </div>
            </div>
        </div>
            <div class="col-md-6" style="">
               <h3>Syllabus Assignments</h3>
                <div class="row">
                    <div class="col-xs-3 grabbable" ng-repeat="syllAssignment in syllAssignments track by syllAssignment._id"
                         style="border: 5px solid black; margin: 10px; height: 130px; background-color: #FF6360; box-shadow: 5px 5px 3px #333333;" ng-click="selectedSyllAss(syllAssignment)">
                        <h4>{{syllAssignment.objectName}}</h4>

                    <p>{{syllAssignment.objectType}}</p>
                    <p>{{syllAssignment.week}}</p>

                </div>
            </div>
        </div>
    </div>
</div>
</div>