<label for="syllabus"></label>
<label for="selector"></label>

<div class="container">
    <div>

        <!--<span ng-repeat="syllabus in syllabi"> {{syllabus.name}}</span>-->

        <select id="syllabus" ng-init="syllabi.name=name[0]"  ng-model="syllabi.name"   ng-options="syllabus as syllabus.name for syllabus in name track by syllabus.id"></select>

        <select id="selector" ng-model="selected.name" ng-options="x for x in types">
        </select>
        <h1>You have selected {{ selected.name }}</h1>

    </div>

    <div>
        {{selected.name}} Name: <input type="text" ng-model="selected.objectName">
    </div><div>
        URL: <input type="url" id="url" ng-model="selected.url">
    </div>
    <div>
        Order: <input type="number" id="order" ng-model="selected.order">
    </div>
    <div>
        Description: <textarea name="lesson" id="description" cols="30" rows="10" placeholder="Explain the lesson"
                               ng-model="selected.description"></textarea>
    </div>
    <div>
        <button ng-click="addObject(selected)" class="btn btn-md btn-primary">Add to Syllabus</button>
    </div>
</div>