<div>

    <h1>Signup</h1>

    <p>{{ message }}</p>

</div>


<p>Fill out the information below to signup for Syllabusters!</p>

<div class="container">
    <div class="row">
        <input ng-model="expense.fName" placeholder="First Name">
        <input ng-model="expense.lName" placeholder="Last Name">
        <input ng-model="expense.email" placeholder="Email Address">
    </div>
    <div class="row">
        <input ng-model="expense.password" placeholder="New Password">
        <input ng-model="expense.password" placeholder="Re-Enter Password">
    </div>
    <button ng-click='addNewUser(newUser)' class='btn'>Submit</button>
</div>