<div class="newSyllabus">
    <div class="container">
        <center>
            <h1>Create Your Syllabus</h1>
        </center>
        <form>
            <div class="form-group">
                <div class="syllabusInput">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            Course Name:
                            <input class="form-control" type="text" id="courseName" ng-model="syllabus.name">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            Start Date:
                            <input class="form-control" type="date" id="startDate" ng-model="syllabus.startDate">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            End Date:
                            <input class="form-control" type="date" id="endDate" ng-model="syllabus.endDate">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            Instructor:
                            <input class="form-control" type="text" id="teacher" ng-model="syllabus.teacher">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2">
                        <button ng-click="addSyllabus(syllabus)" class="btn btn-lrg btn-success">Add Syllabus</button>
                    </div>
                    <div class="col-sm-5"></div>
                </div>
            </div>
        </form>
    </div>
</div>