<div class="viewSyllabus">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2 class="edits">Syllabus Name: {{course.name}}</h2>
                <h3 class="edits">Course Start: {{course.startDate | date: longDate}}</h3>
                <h3 class="edits">Course End: {{course.endDate | date: longDate}}</h3>
                <h4 class="edits1">Instructor: {{course.teacher}}</h4>
                <br>
                <br>
                <input type="text" ng-model="searchBox">
                <br>
                <br>

                <ul>
                    <li ng-repeat="assignment in course.assignments | filter: searchBox" ng-click="editAssignment()">
                        <ul>
                            <li><strong>Assignment Name: {{assignment.objectName}}</strong></li>
                            <input ng-if="assignment.objectName" type="text" class="form-control" ng-model="assignment.objectName">

                            <li>Assignment Type: {{assignment.objectType}}</li>

                            <li ng-if="assignment.dayInWeek">Assignment Day in Week: {{assignment.dayInWeek}}</li>
                            <input ng-if="assignment.dayInWeek" type="text" class="form-control" ng-model="assignment.dayInWeek">

                            <li ng-if="assignment.description">Assignment Description: {{assignment.description}}</li>
                            <input ng-if="assignment.description" type="text" class="form-control" ng-model="assignment.description">

                            <li>Assignment Start Date: {{assignment.startDate | date: 'mediumDate'}}</li>
                            <input type="date" class="form-control" ng-model="assignment.startDate">

                            <li>Assignment Due Date: {{assignment.dueDate | date: 'mediumDate'}}</li>
                            <input type="date" class="form-control" ng-model="assignment.dueDate">

                            <li>Assignment link: {{assignment.courseLink}}</li>
                            <input type="text" class="form-control" ng-model="assignment.courseLink">

                            <div class="text-center"><button ng-click="editAssignments(assignment)" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px;">Submit Edit</button></div>

                        </ul>
                    </li>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-5"></div>
        </div>
        <br>
        <br>
        </ul>
    </div>
</div>
