    <div class="container-fluid">
        <div class="row">
        <div class="col-xs-9">
            <h2>Syllabus Name: {{course.name}}</h2>
        <h3>Course Start: {{course.startDate | date: longDate}}</h3>
        <h3>Course End: {{course.endDate | date: longDate}}</h3>
        <h4>Instructor: {{course.teacher}}</h4>
        <ul>
            <li ng-repeat="assignment in course.assignments" ng-click="editAssignment()">
                <ul>
                    <li ng-if="assignment.objectName"><strong>Assignment Name: {{assignment.objectName}}</strong></li>
                    <input ng-if="assignment.objectName" type="text" class="form-control" ng-model="assignment.objectName">

                    <li ng-if="assignment.objectType">Assignment Type: {{assignment.objectType}}</li>
                    <input ng-if="assignment.objectType" type="text" class="form-control" ng-model="assignment.objectType">

                    <li ng-if="assignment.dayInWeek">Assignment Day in Week: {{assignment.dayInWeek}}</li>
                    <input ng-if="assignment.dayInWeek" type="text" class="form-control" ng-model="assignment.dayInWeek">

                    <li ng-if="assignment.description">Assignment Description: {{assignment.description}}</li>
                    <input ng-if="assignment.description" type="text" class="form-control" ng-model="assignment.description">

                    <li ng-if="assignment.dueDate">Assignment Due Date: {{assignment.dueDate}}</li>
                    <input ng-if="assignment.dueDate" type="date" class="form-control" ng-model="assignment.dueDate">

                    <li ng-if="assignment.startDate">Assignment Start Date: {{assignment.startDate}}</li>
                    <input ng-if="assignment.startDate" type="date" class="form-control" ng-model="assignment.startDate">

                    <li ng-if="assignment.link">Assignment link: {{assignment.link}}</li>
                    <input ng-if="assignment.link" type="text" class="form-control" ng-model="assignment.link">
                </ul>
                <button ng-click="editAssignments(assignment)" class="btn btn-success">Submit Edit</button>
                <br>
            </li>
        </ul>

        </div>

        </div>
    </div>


