<div class="weekView">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Week View</h1>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="day in week">
        <div class="col-xs-12">
            <h2>{{ day | date: 'EEEE' }}</h2>
            <div class="row">
                <div class="col-xs-3">
                    <h3>Lesson</h3>
                    <ul>
                        <li ng-repeat="assignment in work | objectType:'lesson' | dayOfWeek: (day | date: 'EEEE')"> {{ assignment.objectName }}
                        </li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <h3>Warmups</h3>
                    <ul>
                        <li ng-repeat="assignment in work | objectType:'warmup' | dayOfWeek: (day | date: 'EEEE')"> {{ assignment.objectName }}</li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <h3>Exercises</h3>
                    <ul>
                        <li ng-repeat="assignment in work | objectType:'exercise' | dayOfWeek: (day | date: 'EEEE')"> {{ assignment.objectName }} </li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <h3>Projects</h3>
                    <ul>
                        <li ng-repeat="assignment in work | objectType:'project' | dayOfWeek: (day | date: 'EEEE')"> {{ assignment.objectName }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>



